{% extends "base.html" %}
{% load static %}

{% block title %}Online Art Supply Store{% endblock %}

{% block content %}

<div class="text-center mb-4">
  <h1 class="fw-bold">Online Art Supply Store</h1>
  <p class="text-muted">Paint Brushes • Canvas Boards • Acrylic Paints</p>
</div>

<div class="row g-4">

{% for p in products %}
<div class="col-md-4">
  <div class="card text-center shadow-sm h-100">
    <img src="{% static p.image %}" class="card-img-top p-3"
         style="height:180px; object-fit:contain;" alt="{{p.name}}">
    <div class="card-body">
      <h5 class="card-title">{{ p.name }}</h5>
      <p class="fw-bold">₹{{ p.price }}</p>
      <a href="/add/{{ p.id }}/" class="btn btn-outline-dark w-100">
        {% if user.is_authenticated %}
           Add to Cart
        {% else %}
            Login to Add
        {% endif %}
      </a>

    </div>
  </div>
</div>
{% endfor %}

</div>

<hr class="my-5">

<h3 class="text-center mb-3">🛒 Shopping Cart</h3>

<ul class="list-group col-md-6 mx-auto mb-3">
{% for item in cart %}
<li class="list-group-item d-flex justify-content-between align-items-center">
  {{ item.name }} - ₹{{ item.price }}
  <a href="/remove/{{ forloop.counter0 }}/" class="btn btn-sm btn-danger">Remove</a>
</li>
{% empty %}
<li class="list-group-item text-center text-muted">Your cart is empty</li>
{% endfor %}
</ul>

<h4 class="text-center">Total: ₹{{ total }}</h4>

<div class="text-center mt-3">
  {% if cart %}
  <a href="/buy/" class="btn btn-success btn-lg">Buy Now</a>
  {% endif %}
</div>


{% endblock %}
